@charset "UTF-8";

*{margin: 0; padding: 0;}
ul, li {list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
h1,h2,h3 {margin: 0; padding: 0;}

body{background: #ffffff; color: #222328;}
#wrap{width: 1200px; height: 700px; margin: 0 auto; position: relative; box-sizing: border-box; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}

#header {width: 100%; height: 100px; display: flex;}
#header h1.logo {width: 200px; height: 100px;  display: flex; 
    justify-content: center; align-items: center;}
#header h1.logo a img {width: 200px; height: 40px; display: flex; justify-content: center; align-items: center;}

#header nav {width: 1000px; height: 100px; background: #a68787; position: relative;}
#header nav > ul {width: 80%; background: #d37979; display: flex; position: absolute; right: 0; bottom: 0;}
#header nav > ul > li {width: 25%; text-align: center;}
#header nav > ul > li:hover {background: #b86363;}
#header nav > ul > li > a {display: block; height: 50px; line-height: 50px; color: #fff;}

#header nav > ul > li > ul.submenu {width: 100%; position: absolute; background: #fff;}
#header nav > ul > li > ul.submenu > li {width: 25%;}
#header nav > ul > li > ul.submenu > li > a {display: block; height: 40px; line-height: 40px;}
#header nav > ul > li > ul.submenu > li > a:hover {background: #a68787; color: #fff;}

#slider {width: 100%; height: 300px; overflow: hidden;}
#slider img {display: block;}

#contents {display: flex; width: 100%; height: 200px; }
#contents .noticeGallery {width: 33.3333%; position: relative; padding: 10px; box-sizing: border-box; border-bottom: 1px solid #ddd;}
#contents .noticeGallery {display: flex;}
#contents .noticeGallery h2 a {font-size: 16px; background: #a68787; color: #fff; height: 30px; line-height: 30px;  padding: 6px; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#contents .noticeGallery h2.on a {background: #b86363;}
#contents .noticeGallery ul {position: absolute; width: 95%; top: 30px;}
#contents .noticeGallery ul.notice {margin-top: 15px;}
#contents .noticeGallery ul.gallery {margin-top: 5px;}
#contents .noticeGallery ul.notice > li { font-size: 15px; height: 35px; line-height: 35px; border-bottom: 1px dotted #ddd; }
#contents .noticeGallery ul.notice > li > span {float: right;}
#contents .noticeGallery ul.gallery {display: flex; justify-content: space-evenly;}
#contents .noticeGallery ul.gallery a img { background-size: contain; margin-top: 20px;}

#contents .banner {width: 33.3333%;}
#contents .links {width: 33.3333%;}

/* footer */
#footer {width: 100%; height: 100px; display: flex; border-bottom: 1px solid #ddd;  box-sizing: border-box}
#footer .blogo {width: 200px;  display: flex; justify-content: center; align-items: center;}
#footer .copyright {width: 800px; background: #b86363; color: #fff;  
    display: flex; justify-content: center; align-items: center; }
#footer .sns {width: 200px; display: flex; justify-content: space-evenly; align-items: center;}
#footer .blogo a img {width: 200px; height: 40px; display: flex; justify-content: center; align-items: center;}

/* 팝업 */
#pop{width: 600px; height: 350px; background: url("../images/pop.png")no-repeat center/cover; 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 4;}
.close a {background: #000; color: #fff; border-radius: 10px; padding: 7px 10px; 
    position: absolute; right: 20px; bottom: 25px;}