@charset "UTF-8";
* { margin: 0; padding: 0; } 
a { text-decoration: none; color: inherit; } 
a:hover { opacity: 0.7; } 
ul, li { margin: 0; padding: 0; list-style: none; } 
h1, h2, h3 { margin: 0; padding: 0; } 

/* ===============
주조색(임의) : #5C9CFF
배경색 : #ffffff
텍스트색 : #333333

그룹 메뉴
좌우 슬라이드
탭메뉴
================= */

#wrap { width: 1200px; height: 700px; margin: 0 auto; } 
#header { width: 100%; height: 100px; display: flex; } 
#slider { width: 100%; height: 300px; overflow: hidden; } 
#contents { width: 100%; height: 200px; display: flex; } 
#footer { width: 100%; height: 100px; display: flex; } 

/* 헤더 =================================================*/
/* 로고 */
#header h1.logo { width: 200px; height: 100%; display: flex; justify-content: center; align-items: center; } 

/* 메뉴 */
#header nav { width: 100%; background: #ddd; position: relative; } 
#header nav > ul { width: 80%; height: 50px; display: flex; background: #5C9CFF; position: absolute; right: 0; bottom: 0; } 
#header nav > ul > li { width: 25%; } 
#header nav > ul > li > a { width: 100%; height: 50px; display: flex; justify-content: center; align-items: center; } 
#header nav > ul > li:hover > a { opacity: 1; background: #666; } 
#header nav > ul > li > ul.submenu { height: 160px; text-align: center; background: #ddd; } 
#header nav > ul > li > ul.submenu > li > a { height: 40px; display: flex; align-items: center; justify-content: center; } 
#header nav > ul > li > ul.submenu > li:hover > a { opacity: 1; background: #5C9CFF; } 

/* 슬라이더 =================================================*/
#slider .slideList { display: flex; } 
#slider .slideList img { display: block; } 

/* 컨텐츠 =================================================*/
#contents div { width: 33.333%; } 
#contents .noticeGallery { margin: 10px; position: relative; } 
#contents .noticeGallery h2 {display: flex; gap: 10px;} 
#contents .noticeGallery ul {position: absolute;}